$colors: (
    white: #fff,
    beidge: #fffae1,
    yellow: #ffc529,
    grey: #707070,
    light-grey: #c3c3c3,
    black: #000000,
    gray-transparent: rgb(36, 41, 44),
    gray-transparent2: rgb(49, 55, 59),
    gray-transparent3: rgb(65, 73, 78),
);

@function color($color-name) {
    @return map-get($colors, $color-name);
}

$layout-types: (
    pc: 1024px,
    desktop: 875px,
    tablet: 650px,
);

@mixin layout($the-size) {
    @media (min-width: #{map-get($layout-types, $the-size)}) {
        @content;
    }
}

$side-spaces: (
    mobile-mini: 1em,
    mobile: 2em,
    pc: 5em,
);

@function side-space($space-name) {
    @return map-get($side-spaces, $space-name);
}

$margin-top-card-elements-responsive: (
    mobile: 7%,
    pc: 2%,
    tablet: 4%,
    pc-small: 1%,
);

@function margin-top-card-element-responsive($the-size) {
    @return map-get($margin-top-card-elements-responsive, $the-size);
}

$border-radius: 5px;
$border-radius-button: 27px;
$font-size: 12pt;
$margin-top-card-elements: 7%;
$icon-size: 1.3em;
$margin-right-small-icon: 0.5em;