@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600");
body,
html {
  min-width: 300px;
  height: 100%;
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 12pt;
}

body ul {
  list-style-type: none;
}

body .container {
  text-align: center;
}

body .bold {
  font-weight: bold;
}

body .more {
  padding-top: calc(7%/ 2);
}

body .more .more-label {
  text-decoration: none;
  color: #000000;
  border: 1px solid #ffc529;
  padding: 0.5em 2.5em;
  border-radius: 27px;
}

body .more .more-label:hover {
  border: 3px solid #ffc529;
}

body header#mainHeader {
  background-color: #fffae1;
}

body header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2em;
  z-index: 3;
}

@media (min-width: 1024px) {
  body header {
    padding: 0.8em 5em;
  }
}

body header .logo {
  width: 120px;
}

@media (min-width: 1024px) {
  body header .logo {
    width: 150px;
  }
}

body header .menu {
  width: 25px;
  margin-top: 30%;
}

body header nav ul {
  position: fixed;
  width: 60%;
  top: 0;
  right: 0;
  text-align: left;
  background: #24292c;
  height: 100%;
  z-index: 7;
  padding-top: 3em;
}

@media (min-width: 650px) {
  body header nav ul {
    width: 40%;
  }
}

@media (min-width: 1024px) {
  body header nav ul {
    position: inherit;
    width: auto;
    background: none;
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 0;
  }
}

@media (min-width: 1024px) {
  body header nav ul li {
    float: left;
    padding-right: 2em;
  }
}

body header nav ul li a {
  color: #fff;
  text-decoration: none;
  display: block;
  width: 100%;
  padding: 1em 2em;
  background: #31373b;
}

@media (min-width: 1024px) {
  body header nav ul li a {
    color: #000000;
    background-color: inherit;
    text-align: right;
    padding: 1em 2em;
  }
}

body header nav ul li a:hover {
  background-color: #41494e;
}

@media (min-width: 1024px) {
  body header nav ul li a:hover {
    background-color: inherit;
  }
}

body header nav ul li.exit-btn {
  margin-bottom: 1em;
  margin-top: -1.3em;
  text-align: right;
  padding: 0 1.4em;
}

body header nav ul li.exit-btn img {
  width: 15px;
  cursor: pointer;
}

body .show-desktop {
  display: none;
}

@media (min-width: 1024px) {
  body .show-desktop {
    display: block;
    margin: 0 auto 13% auto;
  }
}

body .hide-desktop {
  display: block;
}

@media (min-width: 1024px) {
  body .hide-desktop {
    display: none;
  }
}

body .hide-mobile {
  display: block;
}

body section#mainSection {
  background-size: 100%;
  background-position: left bottom;
  height: 100%;
  background-color: #fffae1;
  padding: 1.8em 2em 0 0;
}

@media (min-width: 650px) {
  body section#mainSection {
    padding: 1.8em 2em 0 0;
  }
}

@media (min-width: 1024px) {
  body section#mainSection {
    padding: 1.8em 5em 0 0;
  }
}

@media (min-width: 650px) {
  body section#mainSection h3 {
    font-size: calc(12pt + 3pt);
  }
}

body section#mainSection h3,
body section#mainSection .subhead {
  text-align: right;
  position: relative;
  z-index: 3;
}

@media (min-width: 1024px) {
  body section#mainSection h3,
  body section#mainSection .subhead {
    font-size: calc(12pt + 8pt);
  }
}

body section#mainSection .subhead {
  font-weight: 400;
}

body section#mainSection .cta {
  background: #ffc529;
  padding: 1.3em 0.7em 1.3em 1.3em;
  text-decoration: none;
  z-index: 1;
  color: black;
  -webkit-clip-path: polygon(7% 19%, 100% 8%, 100% 83%, 59% 82%, 51% 100%, 42% 83%, 0 83%);
          clip-path: polygon(7% 19%, 100% 8%, 100% 83%, 59% 82%, 51% 100%, 42% 83%, 0 83%);
  position: absolute;
  right: 35%;
}

@media (min-width: 650px) {
  body section#mainSection .cta {
    right: 2em;
    padding: 1.2em 0.9em 1.2em 1.2em;
    font-size: calc(12pt + 1pt);
    margin-top: 2%;
  }
}

@media (min-width: 1024px) {
  body section#mainSection .cta {
    right: 3.8em;
    padding: 1.2em 0.9em 1.2em 1.2em;
    font-size: calc(12pt + 4pt);
    margin-top: 5%;
  }
}

body section#mainSection img {
  width: 100%;
  position: inherit;
  bottom: 0;
  left: 0;
}

@media (min-width: 650px) {
  body section#mainSection img {
    width: 65%;
    margin-top: -15%;
    margin-left: -35%;
  }
}

body .font-yellow {
  color: #ffc529;
}

body .card {
  width: 100%;
  margin: 7% auto;
  background-size: 30%;
  background-position: 0 30%, 100% 100%;
  background-repeat: no-repeat, no-repeat;
  height: 100%;
  background-image: url("../images/yellow.png"), url("../images/green.png");
}

@media (min-width: 1024px) {
  body .card {
    margin: calc(7% - 4%) auto;
  }
}

@media (min-width: 1024px) {
  body .card .filter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    width: 100%;
  }
  body .card .filter .search-filter,
  body .card .filter .category-filter {
    width: 50%;
  }
  body .card .filter .category-filter .category-label {
    text-align: left;
    padding-left: 5em;
  }
  body .card .filter .category-filter .category-container {
    width: 100%;
    text-align: left;
    padding-left: 5em;
  }
  body .card .filter .search-filter .search-label {
    padding-right: 5em;
  }
  body .card .filter .search-filter .search-container {
    text-align: right;
    padding-right: 5em;
  }
}

body .card .filter .search-label,
body .card .filter .category-label {
  text-align: right;
  padding-right: 2em;
}

body .card .filter .search-container form {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

body .card .filter .search-container form input {
  padding: 0.5em 1em;
  border: 1px solid #707070;
  border-radius: 27px 0 0 27px;
  font-size: 12pt;
}

body .card .filter .search-container form button {
  padding: 0.5em 1em;
  border: 1px solid #707070;
  border-radius: 0 27px 27px 0;
  font-size: 12pt;
  background-color: #000000;
  color: #fff;
}

body .card .filter .category-container {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

body .card .filter .category-container .relationship-category,
body .card .filter .category-container .social-category {
  text-decoration: none;
  z-index: 1;
  color: black;
  padding: 0.5em 2.5em;
  border: 1px solid #707070;
}

body .card .filter .category-container .relationship-category {
  background: #ffc529;
  border-radius: 27px 0 0 27px;
}

body .card .filter .category-container .social-category {
  background: #fff;
  border-radius: 0 27px 27px 0;
}

body .card .filter .category-container .search-container {
  margin: 7% auto;
}

body .card .cards {
  margin: 7% 2em;
}

@media (min-width: 1024px) {
  body .card .cards {
    margin: 0 5em;
  }
}

body .card .cards ul {
  -webkit-column-count: 1;
          column-count: 1;
  padding: 0;
  margin: 7% 0;
}

@media (min-width: 650px) {
  body .card .cards ul {
    display: block;
    -webkit-column-count: 3;
            column-count: 3;
    margin: calc(7% - 2%) 0;
  }
}

@media (min-width: 1024px) {
  body .card .cards ul {
    display: block;
    -webkit-column-count: 4;
            column-count: 4;
  }
}

body .card .cards ul li {
  border: 1px solid #707070;
  border-radius: 27px;
  margin: 7% 0;
  background-color: #ffc529;
  height: auto;
  width: 100%;
}

@media (min-width: 650px) {
  body .card .cards ul li {
    display: inline-block;
    margin: calc(7% - 4%) 0;
  }
}

body .card .cards ul li:first-child, body .card .cards ul li:last-child {
  background-color: #fff;
}

body .card .cards ul li:first-child .card-info, body .card .cards ul li:last-child .card-info {
  color: #707070;
}

body .card .cards ul li .card-message {
  padding: 2em;
  margin: 0;
}

body .card .cards ul li .card-info {
  padding: 1em 2em;
  border-top: 1px solid #707070;
  text-align: left;
  font-size: calc(12pt - 2pt);
  color: #000000;
}

body .card .cards ul li .card-info .love-img,
body .card .cards ul li .card-info .comment-img {
  width: 20px;
  position: relative;
  top: 0.3em;
  margin-right: 10px;
}

body footer {
  background-color: #000000;
  padding: 2em;
}

body footer .footer-link {
  text-decoration: none;
  color: #fff;
  font-size: calc(12pt - 2pt);
}
/*# sourceMappingURL=main.css.map */